@model List<CharityHack2012.Models.CharitySearchResult>
@{
    ViewBag.Title = "Support the right charity for you";
}

            
@if(Model.Count == 0){
<div class="hero-unit" style="background-image: url(/Content/img/hero.png);">
    <h1 style="padding-bottom: 30px;">Support the right charity</h1>
    <p>
        We know that supporting charities is a deeply personal thing, and as with all personal things, it pays to be informed.<br/><br/>    
        Charity Supermarket helps you pick the charity that is more relevant to you, so you know your support really counts.
    </p>
</div>
}

<div class="row">
    <div class="span7">
        <article>
            <div id="search" class="form-search">
                @using(Html.BeginForm("Search", "Home")){
                    <h2>Seach for charity or cause</h2>
        
                    <div class="input-append">
                        <input type="text" name="query" class="span2 search-query" style="width: 260px;" value="@Request.QueryString["query"]">
                        <button type="submit" class="btn">Search</button>
                    </div>
                }
            </div>
        
            @if(Model.Count > 0){
                <div id="searchResults">
                    <h3>Search results</h3>       
                    @foreach(var match in Model)
                    {
                        @Html.ActionLink(match.CharityDisplayName, "Index", "Charity", new {id = match.CharityRegistrationNumber}, new {}); @: <br/>
                    }
                </div>
            } else{
                <blockquote>
                    <p>Statistical thinking will one day be as necessary a qualification for efficient citizenship as the ability to read and write.</p>
                    <small>H.G. Wells</small>
                </blockquote>
            }


        </article>
    </div>

    <div class="span3">
    
        <aside id='news'>
            <h2>Popular charities</h2>
            <ul>
                <li>@Html.ActionLink("Cancer Research UK", "Index", "Charity", new { id = 1089464 }, new {  })</li>
                <li>@Html.ActionLink("Against Breast Cancer Ltd", "Index", "Charity", new { id = 1121258 }, new {  })</li>
                <li>@Html.ActionLink("Central Hertfordshire YMCA", "Index", "Charity", new { id = 1065875 }, new {  })</li>
                <li>@Html.ActionLink("Malt Cross Trust Company", "Index", "Charity", new { id = 1058559 }, new {  })</li>
                <li>@Html.ActionLink("Soul Survivor", "Index", "Charity", new { id = 1080720 }, new {  })</li>
                <li>@Html.ActionLink("Newcastle Upon Tyne Dog And Cat Shelter And Animal Sanctuary", "Index", "Charity", new { id = 220506 }, new {  })</li>
                <li>@Html.ActionLink("The Blue Cross", "Index", "Charity", new { id = 224392 }, new {  })</li>
            </ul>
        </aside>

    </div>
</div>