@model List<CharityHack2012.Models.CharityProfile>
@{
    ViewBag.Title = Model.First().CharityName + " vs. " + Model.Skip(1).First().CharityName;
}

<div class="hero-unit" style="background-image: url(/Content/img/hero.png);">
    <h1 style="padding-bottom: 30px;">Comparison</h1>
    <p>
         @Model.First().CharityName<br/>
        vs.<br/>
        @Model.Skip(1).First().CharityName
    </p>
</div>

<div class="row">
    <a id="summary"></a>
    <div class="span10">
        <h2>@Model.First().CharityName</h2>
        @Html.Partial("MoneyReport", Model.First());
    </div>
</div>

<div class="row">
    <a id="summary"></a>
    <div class="span10">
        <h2>@Model.Skip(1).First().CharityName</h2>
        @Html.Partial("MoneyReport", Model.Skip(1).First());
    </div>
</div>
