@model List<CharityHack2012.Models.CharityProfile>
@{
    var first = Model.First();
    var second = Model.Skip(1).First();
}

        <div id="monies">
            <h2>Finances</h2>

            <div class="row">
                <h2>Income</h2>
                
                <table>
                    <tr>
                        <td>Total</td>
                        <td>@first.Income.Total</td>
                        <td>@second.Income.Total</td>
                    </tr>
                    <tr>
                        <td>Investment gains</td>
                        <td>@first.Income.InvestmentGains</td>
                        <td>@second.Income.InvestmentGains</td>
                    </tr>
                    <tr>
                        <td>Trading to raise funds</td>
                        <td>@first.Income.TradingToRaiseFunds</td>
                        <td>@second.Income.TradingToRaiseFunds</td>
                    </tr>
                    <tr>
                        <td>Voluntary</td>
                        <td>@first.Income.Voluntary</td>
                        <td>@second.Income.Voluntary</td>
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td>@first.Income.Other</td>
                        <td>@second.Income.Other</td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <h2>Expenses</h2>
                
                <table>
                    <tr>
                        <td>Total</td>
                        <td>@first.Expenditure.Total</td>
                        <td>@second.Expenditure.Total</td>
                    </tr>
                    <tr>
                        <td>Charitable activities</td>
                        <td>@first.Expenditure.CharitableActivities</td>
                        <td>@second.Expenditure.CharitableActivities</td>
                    </tr>
                    <tr>
                        <td>Investment management</td>
                        <td>@first.Expenditure.InvestmentManagement</td>
                        <td>@second.Expenditure.InvestmentManagement</td>
                    </tr>
                    <tr>
                        <td>Spent raising more money</td>
                        <td>@first.Expenditure.TradingToRaiseFunds</td>
                        <td>@second.Expenditure.TradingToRaiseFunds</td>
                    </tr>
               </table>

            </div>
            
            <div class="row">
                <h2>Assets liabilities and People</h2>
                
                <table>
                    <tr>
                        <td>Own Use Assets</td>
                        <td>@first.AssetsLiabilitiesAndPeople.OwnUseAssets</td>
                        <td>@second.AssetsLiabilitiesAndPeople.OwnUseAssets</td>
                    </tr>
                    <tr>
                        <td>Long Term Investments</td>
                        <td>@first.AssetsLiabilitiesAndPeople.LongTermInvestments</td>
                        <td>@second.AssetsLiabilitiesAndPeople.LongTermInvestments</td>
                    </tr>
                    <tr>
                        <td>Other Assets</td>
                        <td>@first.AssetsLiabilitiesAndPeople.OtherAssets</td>
                        <td>@second.AssetsLiabilitiesAndPeople.OtherAssets</td>
                    </tr>
                    <tr>
                        <td>Total Liabilities</td>
                        <td>@first.AssetsLiabilitiesAndPeople.TotalLiabilities</td>
                        <td>@second.AssetsLiabilitiesAndPeople.TotalLiabilities</td>
                    </tr>
                    <tr>
                        <td>Employees</td>
                        <td>@first.AssetsLiabilitiesAndPeople.Employees</td>
                        <td>@second.AssetsLiabilitiesAndPeople.Employees</td>
                    </tr>
                    <tr>
                        <td>Volunteers</td>
                        <td>@first.AssetsLiabilitiesAndPeople.Volunteers</td>
                        <td>@second.AssetsLiabilitiesAndPeople.Volunteers</td>
                    </tr>
                </table>
            </div>
        </div>